@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f0e6;
  --foreground: #2c3e50;
  --primary: #0e4d58;
  --secondary: #f3f0e6;
  --accent: #e68a7c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
